.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-bar{
  width: 50%;
  border: 1px solid rosybrown;
  padding: 10px;
  border-radius: 50px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.search-button {
  background: rosybrown;
  border: none;
  padding: 11px 20px;
  color: white;
  border-radius: 50px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71,71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.recipe__image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}